#app, .app, html, body {
    height: 100%;
    margin: 0;
}

body {
  height:100%;
}

#app, .app {
  display: flex;
  flex-direction: column;
  height:100%;
}

.messages {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  padding: 1em;
}

.message {

}

.message .message-content {
  margin-left:10px;
  padding-top: 0;
}

.navbar {
  /* flex-grow: 1; */
  flex: 0;
}

.chat-input {
  padding:8px;
  /* position: absolute; */
  /* bottom: 0; */
  flex: 0;
}
